<ion-header>
  <ion-toolbar color="danger">
    <ion-title text-center text-center class="negrita">All Classrooms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <div class="ion-padding">
        <div class="imagen">
          <img style="width: 300px;" src='../assets/logoPi.png'>
        </div>
        <ion-card *ngFor="let classroom of classrooms">
          <ion-item>
            <ion-label class="font" (click)="anyadirAclase(classroom.id)">{{classroom.id}} {{classroom.name}}</ion-label>
          </ion-item>
        </ion-card>
      </div>
</ion-content>

