<ion-header>
  <ion-toolbar color="danger">
    <ion-title text-center class="negrita">
      Add New Student
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <div class="labels">
    <ion-label class="font">Student Name</ion-label>
    <ion-input placeholder="Name" [(ngModel)]="name"></ion-input>
  </div>
  <br>
  <div class="labels">
    <ion-label  class="font">Student Surname</ion-label>
    <ion-input placeholder="Surname" [(ngModel)]="surname"></ion-input>
  </div>
  <div class="buttonAdd">
    <ion-button class="shadow-red" shape="round" (click)="introducirDatos()" color="danger">
      <ion-label>Add</ion-label>
    </ion-button>
  </div>
</ion-content>
