<ion-header>
  <ion-toolbar color="secondary">
    <ion-title text-center class="negrita">
      Nuevo Reporte
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <br>
    <ion-label class="font">Título</ion-label>
    <ion-item>
      <br>
      <ion-input placeholder="Titulo..."></ion-input>
      <!--<ion-input [(ngModel)]="reportName"></ion-input>-->
    </ion-item>
    <br>
    <ion-label class="font">Descripción</ion-label>
    <ion-item>
      <ion-textarea rows="15" cols="20" placeholder="Escriba algo aquí..."></ion-textarea>
      <!--<ion-input type="password" [(ngModel)]="contraTexto"></ion-input>
      <ion-button (click)="(CambiarInput())" color="secondary">Mostrar/Ocultar</ion-button>-->
    </ion-item>
    <ion-item>
      <div style="width: 100%;">
        <div style="float: left; margin-bottom: 5px;">
          <ion-button size="small" color="secondary" class="shadow-red" shape="round" [routerLink]="['/profile-screen']"
            expand="block">Atrás</ion-button>
        </div>
        <div style="float: right; margin-bottom: 5px;">
          <ion-button size="small" color="secondary" class="shadow-red" shape="round">Create a report</ion-button>
        </div>
      </div>
    </ion-item>
  </div>

</ion-content>