<ion-header>
  <ion-toolbar color="secondary">
    <ion-title text-center class="negrita">
      Nuevo Reporte
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <br>
    <ion-label>Título:</ion-label>
    <ion-item>
      <br>
      <ion-input></ion-input>
      <!--<ion-input [(ngModel)]="reportName"></ion-input>-->
    </ion-item>
    <br>
    <ion-label>Asunto</ion-label>
    <ion-item>
        <ion-textarea rows="15" cols="20" placeholder="Escriba algo aquí..."></ion-textarea>
      <!--<ion-input type="password" [(ngModel)]="contraTexto"></ion-input>
      <ion-button (click)="(CambiarInput())" color="secondary">Mostrar/Ocultar</ion-button>-->
    </ion-item>
    <ion-item>
      <div style="float: right; margin-bottom: 5px;">
        <ion-button size="small" color="secondary" class="shadow-red" shape="round" 
        [routerLink]="['/profile-screen']" expand="block">Atrás</ion-button>
      </div>
      <div style="float: left; margin-bottom: 5px;">
        <ion-button size="small" color="secondary" class="shadow-red" shape="round" [routerLink]="['/report-form']" expand="block">create a report</ion-button>
      </div>
    </ion-item>
  </div>

</ion-content>