<ion-header>
  <ion-toolbar color="danger">
    <ion-title>list-alumnos</ion-title>
    <ion-button color="danger" (click)="toggleMenu()">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card *ngFor="let Item of alumnos">
  <ion-card-header>
    <ion-card-title>Student</ion-card-title>
  </ion-card-header>
  <ion-item>
    {{Item.name}}
    {{Item.surname}}
  </ion-item>
</ion-card>
<div style="float: left"> <!--me voy a la pantalla de addclassroomscreen-->
  <ion-button size="small" color="secondary" class="shadow-red" shape="round" [routerLink]="['/add-child-screen']">add new student</ion-button>
</div>
</ion-content>
