<ion-header>
  <ion-toolbar color="danger">
    <ion-title text-center text-center class="negrita">Students</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="imagen">
    <img style="width: 300px;" src='../assets/logoPi.png'>
  </div>
  <ion-card *ngFor="let Item of alumnos">
  <ion-item>
    <ion-label class="font">Student Name: {{Item.name}} {{Item.surname}}</ion-label>
  </ion-item>

</ion-card>
<div class="butt"> <!--me voy a la pantalla de addclassroomscreen-->
  <ion-button color="danger" class="shadow-red" shape="round" [routerLink]="['/add-child-screen/', id]">add new student</ion-button>
</div>
</ion-content>
