<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Registro Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="negrita" style="text-align: center;">DATOS ALUMNO</p>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Apellidos</ion-label>
    <ion-input [(ngModel)]="apellidos">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input [(ngModel)]="username">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="password">
    </ion-input>
  </ion-item>
  <ion-button expand="block" (click)="introducirDatos()" color="secondary">
    <ion-label>Introducir</ion-label></ion-button>
</ion-content>

