<ion-header>
  <ion-toolbar color="secondary">
    <ion-title text-center text-center class="negrita">Your Classrooms</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
      <div class="ion-padding">
        <ion-card *ngFor="let classroom of classrooms">
          <ion-card-header>
            <ion-card-title>id: {{classroom.id}}</ion-card-title>
            <ion-card-subtitle>child: {{classroom.name}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>
      <div style="float: left; margin-bottom: 5px;">
        <ion-button size="small" color="secondary" class="shadow-red" shape="round">add child</ion-button>
      </div>
</ion-content>