<ion-header>
  <ion-toolbar color="danger">
    <ion-title text-center text-center class="negrita">Your Classrooms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <div class="ion-padding">
        <ion-card *ngFor="let classroom of classrooms">
          <ion-item>
            <ion-label [routerLink]="['/list-alumnos/', classroom.id]">Name: {{classroom.id}} {{classroom.name}}</ion-label>
          </ion-item>
        </ion-card>
      </div>
      <div style="float: left"> <!--me voy a la pantalla de addclassroomscreen-->
        <ion-button size="small" color="danger" class="shadow-red" shape="round" [routerLink]="['/add-classroom-screen']">add new classroom</ion-button>
      </div>
      <div style="float: right">
        <ion-button size="small" color="danger" class="shadow-red" shape="round" [routerLink]="['/all-classrooms-list-screen']">add to existing classroom</ion-button>
      </div>
</ion-content>