<!--<ion-header>
  <ion-toolbar style="padding-top: 20px;"color="danger">
    <ion-title text-center text-center class="negrita">Reports</ion-title>
    <ion-button color="danger" (click)="toggleMenu()">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>-->


<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button text="back"></ion-back-button>
    </ion-buttons>
    <ion-title class="negrita">
      All Reports
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="imagen">
    <img class="imagenTamanyo" src='../assets/logoPi.png'>
  </div>
      <div class="ion-padding">
        <ion-card *ngFor="let report of reports">
          <ion-card-header>
            <ion-card-title class="font">id: {{report.id}}</ion-card-title>
            <ion-card-title class="font">Description: {{report.description}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
  <ion-footer>
    <ion-icon name="battery-full-outline"></ion-icon>
  <ion-fab *ngIf="!isTeacher()" vertical="end" horizontal="end" edge slot="fixed">
    <ion-fab-button color="danger" >
      <ion-label class="botonLabel" routerLink="/report-form">+</ion-label>
    </ion-fab-button>
  </ion-fab>
</ion-footer>
</ion-content>