<ion-header>
  <ion-toolbar>
    <ion-title>formStrList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let struct of structs">
    <ion-card>
      <ion-item>
        <ion-label class="font" (click)="navigate(struct.key)">Form: {{struct.value.name}}</ion-label>
      </ion-item>
    </ion-card>
  </ion-list>
  <ion-button
  color="danger" 
  class="shadow-redSecond" 
  shape="round"
  [routerLink] = "['/form-of-forms']"
  *ngIf="user.isTeacher">Add one</ion-button>
</ion-content>
