<ion-app>
  <ion-menu auto-hide="true" side="start" menuId="first" contentId="principal">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-button color="secondary" expand="full"><ion-item color="secondary" [routerLink]="['/profile-screen']" (click)="(CloseCustom())">Profile</ion-item></ion-button>
        <ion-button color="secondary" expand="full" [routerLink]="['/register-alumno']" (click)="(CloseCustom())"><ion-item color="secondary">Add a student</ion-item></ion-button>
        <ion-button menuclose color="secondary" expand="full" [routerLink]="['/pregunta1-p2']" (click)="(CloseCustom())"><ion-item color="secondary">Create a report</ion-item></ion-button>
        <ion-button color="secondary" expand="full" [routerLink]="['/reports-screen']" (click)="(CloseCustom())"><ion-item color="secondary">Reports</ion-item></ion-button>
        <ion-button color="secondary" expand="full" (click)="(CloseCustom())"><ion-item color="secondary">Add new classroom</ion-item></ion-button>
      </ion-list>
    </ion-content>
  </ion-menu>


  <ion-router-outlet id="principal"></ion-router-outlet>
</ion-app>
