<ion-header>
  <ion-toolbar color="danger">
    <ion-title text-center class="negrita">Classroom Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin-top: 30px;padding-left: 15px;">
    <ion-label class="font">Classroom Name</ion-label>
    <ion-input placeholder="Name" [(ngModel)]="name"></ion-input>
  </div>
  <div style="text-align: center; margin-top: 50px;">
    <ion-button color="danger" class="shadow-red" shape="round" (click)="introducirDatos()" color="danger">
      <ion-label>Add</ion-label>
    </ion-button>
  </div>
</ion-content>
