<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>pregunta1P2</ion-title>
    <ion-button color="secondary" (click)="toggleMenu()">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="pene">Texto:</p>
  <ion-item>
    <ion-input placeholder="Introduce un texto"></ion-input>
  </ion-item>
  <ion-item>
    <ion-list>
      <ion-grid>
        <ion-radio-group>
          <ion-row>
            <ion-slides spaceBetween="10">
              <ion-slide class="centrarleft">
                <ion-item class="ion-float-left">
                  <ion-label>1</ion-label>
                  <ion-radio slot="end"></ion-radio>
                </ion-item>
                <ion-item class="ion-text-center">
                  <ion-label>2</ion-label>
                  <ion-radio slot="end"></ion-radio>
                </ion-item>
                <ion-item class="ion-text-end">
                  <ion-label>3</ion-label>
                  <ion-radio slot="end"></ion-radio>
                </ion-item>
              </ion-slide>
              <ion-slide class="centrarleft">
                <ion-item>
                  <ion-label>4</ion-label>
                  <ion-radio slot="end"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>5</ion-label>
                  <ion-radio slot="end"></ion-radio>
                </ion-item>
              </ion-slide>
            </ion-slides>
          </ion-row>
        </ion-radio-group>
      </ion-grid>
    </ion-list>
  </ion-item>
  <ion-item>
    <p>Si o No?</p>
    <ion-checkbox class="pene">

    </ion-checkbox>
  </ion-item>
</ion-content>