<ion-header>
  <ion-toolbar color="danger">
    <ion-title text-center class="negrita">Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>
      <ion-item>
          <ion-input placeholder="new password" [(ngModel)]="user.password"></ion-input>
        </ion-item>

        <div style="float: right; margin-bottom: 5px;">
          <ion-button color="danger" class="shadow-red" shape="round" (click)="save()">Save</ion-button>
        </div>
    </ion-card>

</ion-content>
