<ion-header>
  <ion-toolbar color="danger">
    <ion-title text-center class="negrita">Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div style="margin-top: 30px; padding-left: 15px;">
    <ion-label class="font">New password</ion-label>
    <ion-input placeholder="New password" [(ngModel)]="password"></ion-input>
  </div>
  <div style="text-align: center; margin-top: 50px;">
    <ion-button class="shadow-red" shape="round" (click)="save()" color="danger">
      <ion-label>Save</ion-label>
    </ion-button>
  </div>
</ion-content>
