<ion-header >
  <ion-toolbar color="secondary">
    <ion-title text-center class="negrita">
      Log in
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <br>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <br>
    <p>Remember me<ion-checkbox class="pene"></ion-checkbox></p>
    <ion-item class="margen">
    </ion-item>
    <ion-button color="secondary" class="shadow-red" shape="round"  size="large" expand="full" [routerLink]="['/profile-screen']">Sign in</ion-button>
  </div>
</ion-content>
