<ion-header>
  <ion-toolbar color="secondary">
    <ion-title text-center class="negrita">
      Log in
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="ion-padding">
    <br>
    <ion-item>
      <ion-label position="floating" >Username</ion-label>
      <ion-input [(ngModel)]="userTexto"></ion-input>
    </ion-item>
    <ion-item *ngIf="contrasenya==true"> 
      <ion-label position="floating" >Password</ion-label>
      <ion-input type="password" [(ngModel)]="contraTexto"  value={{contraTexto}}></ion-input>
      <ion-button (click)="(CambiarInput())" color="secondary">Mostrar/Ocultar</ion-button>
    </ion-item>
    <ion-item *ngIf="contrasenya==false">
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="contraTexto" value={{contraTexto}}></ion-input>
      <ion-button (click)="(CambiarInput())" color="secondary">Mostrar/Ocultar</ion-button>
    </ion-item>
    <br>
    <p>Remember me<ion-checkbox class="pene"></ion-checkbox></p>
    <ion-item class="margen">
    </ion-item>
    <ion-button color="secondary" class="shadow-red" shape="round"  size="large" expand="full" (click)="(Implementar())">Sign in</ion-button>
  </div>
  
</ion-content>
