<ion-header>
  <ion-toolbar>
    <ion-title class="negrita">
      Log in
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <div class="ion-padding">
    <p class="negrita">Nombre:</p><br>
    <ion-item class="margen">
      <ion-input class="negrita" placeholder="Introduce tu nombre"></ion-input>
      <br>
    </ion-item>
    <br>
    <p class="negrita">Contraseña:</p>
    <ion-item class="margen">
      <ion-input class="negrita" placeholder="Introduce tu contraseña"></ion-input>
      <br>
    </ion-item>
    <br>
    <p>Recordar usuario?<ion-checkbox class="pene"></ion-checkbox></p>
    <ion-item class="margen">
    </ion-item>
    <ion-button fill="outline" size="large" expand="full">Iniciar Sesión</ion-button>
  </div>
</ion-content>
