<ion-header>
  <ion-toolbar color="danger">
    <ion-title text-center class="negrita">
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div style="margin: 15px;">
    <img style="margin-left: 40px;"src="../../../assets/logo3.png">
  </div>
  <div>
    <ion-card-title text-center class="font">Welcome {{child.name}}</ion-card-title>
  </div>
      <!--<p text-center>{{person.isTeacher ? "Teacher": Student}}-->
  <div>
    <input style="float: right;" type=image src="../../../assets/unnamed.png" width="50" height="50" [routerLink]="['/settings-profile-screen/', child.id]"/>
  </div>
</ion-content>

<ion-content>
  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        <div>
          <ion-card-title text-center class="font">Last reports</ion-card-title>   
        </div>
      </ion-card-header>

    <ion-card-content>
      <ion-list *ngFor="let report of reports">
        <ion-item>
          <ion-label [routerLink]="['/reports-screen/', report.id]">{{report.description}} {{report.id}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    </ion-card>
    <div style="float: right; margin-bottom: 5px;">
      <ion-button color="danger" class="shadow-red" shape="round" 
      routerLink="/reports-screen">all reports</ion-button>
    </div>

  </div>
</ion-content>
