
<ion-header>
  <ion-toolbar color="secondary">
    <ion-title text-center class="negrita">Profile</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <img src="../../../assets/fusion.png">

    <ion-card-content>
      <ion-card-title text-center class="negrita">
        Welcome {{person.user}}
      </ion-card-title>
      <p text-center>
        {{person.isTeacher ? "Teacher": Student}}
        <img style="width: 20px; float:right;"src="../../../assets/596310 (1).png">
      </p>
    </ion-card-content>

  </ion-card>

</ion-content>

<ion-content>
  <div class="ion-padding">

    <ion-card>
      <ion-card-header>
        <div>
          <ion-card-title text-center class="negrita">Last reports</ion-card-title>   
        </div>
        <div>
          <img style="width: 20%; float: right;" src="../../../assets/x-11-512.png">
        </div>
      </ion-card-header>

    <ion-card-content>
      <ion-list *ngFor="let report of reports">
        <ion-item>
          <ion-label [routerLink]="['/reports-screen/', report.id]">{{report.description}} {{report.id}}</ion-label>
        </ion-item>
      </ion-list>
  
    </ion-card-content>
    <div style="float: right; margin-bottom: 5px;">
      <ion-button color="secondary" class="shadow-red" shape="round" (click)="onClick()">see more</ion-button>
    </div>
    </ion-card>



  </div>
</ion-content>
